@model TabloidMVC.Models.ViewModels.PostDetailViewModel

@{
    ViewData["Title"] = $"Post - {Model.Post.Title}";
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">@Model.Post.Category.Name</h1>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Written by @Model.Post.UserProfile.DisplayName</p>
                <p class="text-black-50">Published on @Html.DisplayFor(model => model.Post.PublishDateTime)</p>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
                @*asp-controller is what redirects the comment button to the comment page.*@
<<<<<<< HEAD
                <a asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="View Comments">
                    <i class="fas fa-solid fa-tags"></i>
=======
                <a asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-primary mx-1" title="View Comments">
                    <i class="fas fa-solid fa-comment"></i>
>>>>>>> 09377740e6c3d11c5d1141a75428546b807bf8ed
                </a>
                @*asp-controller is what redirects the comment button to the manage post tags.*@
                <a asp-controller="Post" asp-action="ManageTags" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-2" title="Manage Tags">
                    <i class="fas fa-solid fa-tags"></i>
                </a>

            </div>
        </section>
        <hr />
        <h2>Tags:<h2>
        @foreach (var item in Model.AssociatedTags)
        {
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => item.Tag.Name)</p>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Post.ImageLocation))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.Post.ImageLocation" />
                </div>
            </section>
        }
        <section class="row post__content">
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.Post.Content)</p>
        </section>
    </div>
</div>